__pycache__/
*.pyc
*.pyo
*.pyd
*.db

.venv/
venv/
env/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.log

Dockerfile*
docker-compose.yml
.dockerignore

.git
.gitignore

__pycache__/
*.egg-info/
.eggs/
